In [1]:
import pandas as pd
df=pd.read_csv("spam.csv")

In [2]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [4]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test=train_test_split(df.Message,df.spam,test_size=0.2)

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
X_train_count=v.fit_transform(x_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [7]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [14]:
email={
    'Hey Mohan, Can we get together to watch football tomorrow',
    'Upto 20% discount on parking, and exciting gift rewards',
    'Did you figure out the timings of the match.'
}
emails_count=v.transform(email)
model.predict(emails_count)

array([0, 1, 0], dtype=int64)

In [9]:
X_test_count=v.transform(x_test.values)
model.score(X_test_count,y_test)

0.9901345291479821

In [10]:
from sklearn.pipeline import Pipeline
clf=Pipeline([('vectorizer', CountVectorizer()),('nb',MultinomialNB())])

In [11]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [12]:
clf.score(x_test,y_test)

0.9901345291479821

In [13]:
clf.predict(email)

array([1, 0], dtype=int64)